{
    "extends": [
        "airbnb/base",
        "typescript"
    ],
    "env": {
        "browser": true
    },
    "parser": "typescript-eslint-parser",
    "plugins": ["typescript"],
    "rules": {
        "react/jsx-filename-extension": [0, { "extensions": [".jsx", ".tsx", ".ts", ".js"] }],
        "typescript/interface-name-prefix": 0,
        "import/extensions": false,
        "import/no-unresolved": false,
        "import/prefer-default-export": false,
        "valid-jsdoc": 1,
        "typescript/explicit-function-return-type": 0,
        "typescript/explicit-member-accessibility": 1,
        "indent": ["error", 4, { "SwitchCase": 1 }]
    }
}